node_modules/
dist/
build/
*.db
*.db-wal
*.db-shm
.env
.DS_Store
flutter_app/android/.gradle/
flutter_app/android/local.properties
flutter_app/ios/Pods/
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/build/
flutter_app/.flutter-plugins*
flutter_app/pubspec.lock
*.iml
.idea/
.vscode/
*.log
